<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
</head>
<body>
<img src="/files/55befaab-5e3a-4e60-a27c-f775652932ae.jpg">
<div th:switch="${products}">
    <h2 th:case="null">No products found!</h2>
    <div th:case="*">
        <h2>Ассортимент</h2>
        <table>
            <thead>
            <tr>
                <th>Номер</th>
                <th>Категория</th>
                <th>Название</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.price}"></td>
                <td><a th:href="@{product-update/{id}(id=${product.id})}">Редактировать</a></td>
                <td><a th:href="@{product-delete/{id}(id=${product.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/product-create">Добавить Продукт</a></p>
</div>
</body>
</html>

